/*CSS Style Document*/

p{
	color:red;
}

.second{
	color:blue;
}

.byline{font-family: "georgia", sans-serif;
		color:purple;
}

img{
	height:200px;
	width: 300px;
}

.list1{
	background-color: yellow;
}

.dog{
	height:400px;
	width:600px;
}

ul{
	list-style-type: square;
}

h1{
	font-family: "Helvetica Neue", sans-serif;
}